<section class="informative">
  <!--Table-->
  <h1>{{table.title}}</h1>
  <p>
    The results are shown below:
  </p>
      {{#each table.tests}}
        <section>
          <h2>{{@key}}</h2>
          <table class="simple">
            <style>
              td.subtest {
                padding-left: 2rem;
              }
              td.optional {
                background-color: #b9b7b7;
              }
            </style>
            <thead>
              <th width="80%">Test</th>
                {{#each table.columnNames}}
                  <th>{{this}}</th>
                {{/each}} 
            </thead>
            <tbody>
          <tr>
            <!--This is the name of the test-->
            <td class="subtest">{{title}}</td>
            <!--These contain if the test passed, failed, or was skipped-->
            <td class="{{state}} {{getOptional optional}}">{{getStatusMark state}}</td>
          </tr>
          </tbody>
          </table>
        </section>
      {{/each}}
</section>
